
<h1>dreams in the witch house</h1>
<div id="narration">walter gilman awakens in his bed at the witch house.</div>
<!-- <div id="choices"></div> -->

<%= javascript_tag do %>
  window.map = <%=raw @map.to_json %>;
<% end %>